[Desktop Entry]
Type=Application
Name=Tortugalinux Startup Sound
Comment=Plays the TortugaLinux startup sound on user login.
Exec=pw-play /usr/share/sounds/tortugalinux/startup.wav
OnlyShowIn=KDE;
Terminal=false