[Desktop Entry]
Type=Application
Name=Turtlinux Startup Sound
Comment=Plays the TurtLinux startup sound on user login.
Exec=pw-play /usr/share/sounds/turtlinux/startup.wav
OnlyShowIn=KDE;
Terminal=false