[Desktop Entry]
Type=Application
Exec=/usr/bin/turtagent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=turtagent
Comment=Your personal AI Agent built exclusively for TurtLinux.
